{% extends "navbar.jinja2" %}

{% block title %}
    Account Deletion
{% endblock title %}


{% block content %}
<div class="mainContent">
    Successfully deleted account! We're sorry to see you go!
</div>
{% endblock %}