{% extends "navbar.jinja2" %}
{% block content %}
    <style>
        label, input, select, button, h1, .general {
            margin-left: 100px;
            margin-top: 10px;
            /*margin: 10px 0 0 100px;*/
        }

        .data_entry {
            margin-left: 100px;
            margin-top: 10px;
            margin-bottom: 50px;
        }
        
    </style>
    <h1>My Account</h1>
    <div class="row general">
        <b>Full Name:</b>
        <form method="post"><button type="submit" name="edit_name" value="home" class="btn btn-warning">Edit</button></form>
    </div>
    <div class ="row data_entry">
        {{user.fname + " " + user.lname}}
    </div>
    <div class="row general">
        <b>Password:</b> 
        <form method="post"><button type="submit" name="edit_password" value="home" class="btn btn-warning">Edit</button></form>
    </div>
    <div class ="row data_entry">
        **********
    </div>
    <div class="row general">
        <b>Email:</b> 
        <form method="post"><button type="submit" name="edit_email" value="home" class="btn btn-warning">Edit</button></form>
    </div>
    <div class ="row data_entry">
        {{user.email}}
    </div>
    <div class="row general">
        <b>Address:</b> 
        <form method="post"><button type="submit" name="edit_address" value="home" class="btn btn-warning">Edit</button></form>
    </div>
    <div class ="row general">
        {{house_number + " " + user.street_name}}
    </div>
    <div class ="row data_entry">
        {{user.city + ", " + user.province + " " + user.postal_code}}
    </div>
    <div class="row general">
        <b>Payment Method:</b>
        <form method="post"><button type="submit" name="edit_payment_method" value="home" class="btn btn-warning">Edit</button></form> 
    </div>
    <div class ="row data_entry">
        {{user.payment_method}}
    </div>
    
{% endblock content %}




