{% extends "navbar.jinja2" %}
{% block title %}
{{ selected_category }}
{% endblock title%}

{% block content %}


<h1>Category Selected: {{ selected_category }}</h1>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Seller
        </th>
        <th>
            Description
        </th>
        <th>
            Category
        </th>
        <th>
            Best Before
        </th>
    </tr>
    {% for i in retVal %}
    <tr>
        {% for j in i[0:-1] %}
        <td>
            {{ j }}
        </td>
        {% endfor %}
        {% for j in [i[-1]] %}
        <td>
            <form method="post"><button type="submit" name="submitbutton" value={{ j }} class="btn btn-warning">{{ j }}</button></form>
        </td>
        {% endfor %}
        
    </tr>

    {% endfor %}
</table>

<form method="post"><button type="submit" name="submitbutton" value="home" class="btn btn-warning">Return back to home</button></form>



{% endblock content %}

