{% extends "navbar.jinja2" %}
{% block title %}
    Checkout
{% endblock title %}

{% block content  %}

<div class="mainContent">
<h1>
    Order Summary
</h1>
Total: {{"$%.2f"|format(subtotal|float()*1.12)}}
<h3>
    Confirm Details
</h3>   

<table>
    {% for name in user_dict %}
    <tr>
        <td>{{name}}:</td>
        <td>{{user_dict[name]}}</td>
    </tr>
    {% endfor %}
</table>
<form method="POST">
    <button name="confirm" type="submit">Confirm</button>
</form>
<form method="POST">
    <button name="cancel" type="submit">Cancel</button>
</form>

</div>
{% endblock content %}