{% extends "navbar.jinja2" %}
{% block title %}
    Checkout
{% endblock title %}

{% block content  %}

<div class="mainContent">
<h1>
    Order Summary
</h1>
Total: {{"$%.2f"|format(subtotal|float()*1.12)}}
<h3>
    Confirm Details
</h3>   

<table>
    {% for name in user_dict %}
    <tr>
        <td>{{name}}:</td>
        <td>{{user_dict[name]}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>Payment Method:</td>
    </tr>
    <tr>
        <td>
            <form class="form-group" method="POST">
                <div class="form-group">
                    <select name="payment_method" class="form-control">
                        <option value="" selected>Choose a payment method</option>
                        {% for method in payment_methods %}
                            <option value="{{method[0]}}">{{method[0]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button name="confirm" type="submit">Confirm</button>
                </div>
                <form method="POST">
                    <button name="cancel" type="submit">Cancel</button>
                </form>
            </form>
        </td>
    </tr>
</table>
{% endblock content %}