{% extends "layout.html" %}
{% block title %}
Home
{% endblock title%}

{% block content %}
    <h1>Home: Select a button to check a specific category</h1>
    <form method="post" id="buttons">
    
    
        <button type="submit" name="submitbutton" class="inlineBlockButton" value="All">All</button>
        {% for i in retVal %}
            {% for j in i %}
            <button type="submit" name="submitbutton" class="inlineBlockButton" value="{{ j|string() }}">{{ j|string() }}</button>
            {% endfor %}
            
        {% endfor %}
    </form>
{% endblock content %}