{% extends 'navbar.jinja2' %} 

{% block title %} 
<title>Orders Page</title>
{% endblock %}

{% block content %} 

    <body>    
    <h1>Transaction History</h1>
    <b1>Number of Transactions: {{ Ordercount[0] }}</b1>
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th> 
        <th>Order ID</th>
        <th>Cost</th>
        <th>Order Time</th>
        <th>Payment Method</th>
      </tr>
      {%for order in orders%}
      <tr>
      {%for j in order%}
      
        <td><p>{{j}}</p></td>
      
      {%endfor%}
    </tr>
    {%endfor%}
    </table>
    </body>



{%endblock%}