{% extends "navbar.jinja2" %}

{% block title %}
    Signup
{% endblock title %}

{% block navbar %}
{% endblock %}

{% block content %}
    <style>
        label, input, select, button, h1, .alert {
            margin-left: 100px;
            margin-top: 10px;
            /*margin: 10px 0 0 100px;*/
        }
        
    </style>

    <style link=""></style>
    <h1>Sign up</h1>
    <div class="row">
        <div style="width: 500px;">
            <form class="form-group" action="/signup" method="post">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message %}
                            <div class="alert alert-danger">
                                
                                    {% if message[-1] == '!' %}
                                        {{ message }}
                                    {% else %}
                                        {{ message }}. Go to <a href="{{ url_for('login') }}">login page</a>.
                                    {% endif %}
                                
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username" autofocus="" autocomplete="off" value={{username}}>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" name="fname" placeholder="First Name" value={{fname}}>
                    <input type="text" class="form-control" name="lname" placeholder="Last Name" value={{lname}}>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" id="email" value={{email}}>
                </div>
                <div class="form-group">
                    <label>House Number</label>
                    <input type="text" class="form-control" name="house_number" placeholder="House Number" value={{house_number}}>
                </div>
                <div class="form-group">
                    <label>Street Name</label>
                    <input type="text" class="form-control" name="street_name" placeholder="Street Name" value={{street_name}}>
                </div>
                <div class="form-group">
                    <label>Postal Code</label>
                    <input type="text" class="form-control" name="postal_code" placeholder="Postal Code" value={{postal_code}}>
                </div>
                <div class="form-group">
                    <label>Province</label>
                    <select name="province" class="form-control">
                        <option value="" selected>Choose a province</option>
                        <option value="British Columbia">BC</option>
                        <option value="Alberta">AB</option>
                        <option value="Manitoba">MB</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" placeholder="City" value={{city}}>
                </div>
                <div class="form-group">
                    <label>Payment Method</label>
                    <select name="payment_method" class="form-control">
                        <option value="" selected>Choose a payment method</option>
                        <option value="Credit Card">Credit Card</option>
                        <option value="Debit Card">Debit Card</option>
                        <option value="Paypal">Paypal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                    <button class="btn btn-primary" name="signup" type="submit">Sign up</button>
                    
                </div>
            </form>
        </div>
    </div>
{% endblock %}